@font-face {
    src: url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);
    font-family: Noto;
}

/*
    General
*/

body, html {
    font-family: Noto, sans-serif;
    padding: 0;
    margin: 0;
    color: #212121;
    height: 100%;
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

/*
    Headlines
*/

header {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    text-shadow: -3px 3px 5px #777;
}

header p {
    font-size: 2em;
    font-style: italic;
    font-weight: 400;
    text-shadow: -3px 3px 5px #999;
}

/*
    Canvas
*/

.app-container {
    max-width: 1080px;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 0 auto;
}

.app-controls {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
}

.app-controls div {
    padding: 10px 15px
}

.app-controls input[type=number] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.app-controls button {
    padding: 10px;
    background: #60dd97;
    border-radius: 10px;
}

.app-controls input[type=color] {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.canvas {
    flex-basis: 90%;
    background: radial-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(150, 150, 150, 0.4) 150%),
    radial-gradient(#aaa 10%, #fff 100%) repeat;
    background-size: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: -5px 5px 1px rgba(30, 30, 30, 0.5);
}

.pixel {
    flex-basis: 2%;
    background: rgba(0, 0, 0, 0);

}
