@font-face {
    src: url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);
    font-family: Noto;
}


/*
    General
*/

body, html {
    font-family: Noto, sans-serif;
    background-color: #e1e5e9;
    padding: 0;
    margin: 0;
    color: #212121;
    height: 100%;
}

/*
    Headlines
*/

header {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    text-shadow: -3px 3px 5px #777;
}

header p {
    font-size: 2em;
    font-style: italic;
    font-weight: 400;
    text-shadow: -3px 3px 5px #999;
}


/*
    Canvas
*/

.app-container {
    max-width: 1080px;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.canvas {
    flex-basis: 100%;
    background: radial-gradient(rgba(255,255,255, 0.6) 0%, rgba(150,150,150, 0.4) 150%),
                radial-gradient(#aaa 10%, #fff 100%) repeat;
    background-size: 10px 10px;
}

